<app-header></app-header>
<div class="container-fluid">
  <div class="row pt-5">
    <div class="col-sm-11 col-md-6  section">
      <h3 class="salute py-0 my-0">Hi!, I'm</h3>
      <h2 class="name py-0 my-0">Johan Daza</h2>
      <p class="description">I am a developer and designer from Colombia. I <i class="fa fa-heart icon"></i> Cine and
        Videogames, </p>
    </div>
    <div class="col-sm-11 col-md-6 skils section">
      <h3 class="salute py-0 my-0">Hi, I'm</h3>
      <h2 class="name py-0 my-0">Johan Daza</h2>
      <p class="description">I am a developer and designer from Colombia. I <i class="fa fa-heart icon"></i> Cine and
        Videogames, </p>
    </div>
  </div>
</div>
