<app-header></app-header>
<div class="container-fluid" id="screen">
  <div class="row pt-5 first">
    <div class="col-sm-11 col-md-6 section">
      <h3 class="salute pb-0 my-0">Hi!, I'm</h3>
      <h2 class="name py-0 my-0">Johan Daza</h2>
      <p class="description">I am a developer and media editor from Colombia. I <i class="fa fa-heart icon"></i> Cine
        and
        Videogames, interested in the frontend spectrum and working with positive people. </p>
    </div>
    <div class="col-sm-11 col-md-6 section">
      <a href="#">
        <div class="image-wrapper">
          <img class="image-1" src="../assets/fotos.png" />
          <img class="image-2" src="../assets/fotos.png" />
          <img class="image-3" src="../assets/fotos.png" />
          <img class="image-4" src="../assets/fotos.png" />
        </div>
      </a>
    </div>
  </div>
  <div class="row pt-5 justify-content-center">
    <div class="col-sm-10 col-md-10 skills section">
      <h3 class="title-skills">Skills</h3>
      <div class="body">
        <div class="container">
          <div class="card">
            <div class="face face1">
              <div class="content">
                <span class="stars"></span>
                <p class="java">HTML CSS Javascript Angular VueJS Typescript Bootstrap</p>
              </div>
            </div>
            <div class="face face2">
              <h2>Frontend</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-md-10  skills section">
      <div class="body">
        <div class="container">
          <div class="card">
            <div class="face face1">
              <div class="content">
                <span class="stars"></span>
                <p class="java">Figma - Adobe (XP - Photoshop - Illustrator)</p>
              </div>
            </div>
            <div class="face face2">
              <h2>Desing</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-md-10 skills section">
      <div class="body">
        <div class="container">
          <div class="card">
            <div class="face face1">
              <div class="content">
                <span class="stars"></span>
                <p class="java">VS Code - Terminal - Git - Jira - Adobe Premiere - Unity 2020</p>
              </div>
            </div>
            <div class="face face2">
              <h2>Tools</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
