<body>
  <div class="presentation">
    <div class="container">
      <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto">
          <h2 class="hi mb-0">Hello there, I'm</h2>
          <h1 class="title pt-0">Johan Daza</h1>
          <a class="networks git" href="https://github.com/josteda99"><i class="fa fa-github"></i></a>
          <a class="networks twitter" href="https://twitter.com/josteda99"><i class="fa fa-twitter"></i></a>
          <a class="networks linkedin" href="https://www.linkedin.com/in/johan-d-4103a5121/"><i
              class="fa fa-linkedin"></i></a>
          <a class="networks instagram" href="https://www.instagram.com/latucoh/?hl=es-la"><i
              class="fa fa-instagram"></i></a>
          <a class="networks behance"
            href="https://www.behance.net/johandaza?tracking_source=search_projects_recommended%7CjohanDaza"><i
              class="fa fa-behance"></i></a>
        </div>
      </div>
    </div>
    <button class="projects"><i class="fa fa-angle-left"></i></button>
  </div>
</body>
